/* @import url('https://fonts.googleapis.com/css?
family=Muli:900'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {     
    font-family: "Muli", sans-serif;
}

/* START HERE */
.container {
    width: "";
    position: "";
}

.container::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: url(./images/wood1.jpeg) center 
    no-repeat;
    background-size: cover;
    z-index: -1;
}

.wooden-text {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    mix-blend-mode: darken;
    font-size: 15vw;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -5px 5px 20px #000,
    -10px 10px 30px #000,
    -20px 15px 40px #000,
    -25px 20px 50px #000;
}

.small {
    font-size: 7vw;
}